/*Css chat*/
.chat{
    width: 1160px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mensajes{
    border: 1px solid black;
    height: 400px;
    width: 1000px;
    color: white;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.unMensaje{
    max-width: 600px;
    min-width: 400px;
    margin: 20px;
    padding: 2px 10px;
    background-color: rgb(189 225 255);
    border-radius: 6px;
    position: relative;
    display: inline-block
}

.unMensaje::before{
    content: '';
    position: absolute;
    width: 30px; 
    height: 30px;
    background-color: inherit;
    transform: rotate(45deg);
    margin-top: -5px;
    z-index: -1;
    top: 0;
    left: -10px;
    bottom: 0;
    margin: auto;
}

.datosDelMensaje{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.datosDelMensaje p{
    overflow-wrap: anywhere; 
}

.unMensaje2{
    max-width: 600px;
    min-width: 400px;
    margin: 20px 29px 20px auto;
    padding: 2px 10px;
    background-color: #c5c5c5;
    border-radius: 6px;
    position: relative;
    display: inline-block
}

.unMensaje2::before{
    content: '';
    position: absolute;
    width: 30px; 
    height: 30px;
    background-color: inherit;
    transform: rotate(45deg);
    margin-top: -5px;
    z-index: -1;
    top: 0;
    right: -10px;
    bottom: 0;
    margin: auto;
}

.chatEmail{
    color: blue;
    font-weight: bolder;
}

.chatHora{
    color: brown;
}

.chatMensaje{
    color: green;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.chat-form__ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chat-form__ul__li__input{
    width: 300px;
}

.areaDeTexto{
    width: 800px;
    max-width: 1000px;
    height: 100px;
}