/*css Formulario*/
.FormNewProduct__sectionForm{
    display: flex;
    flex-direction: column;
    align-items: center;  

    .form{
        border: 1px solid black;
        width: 400px;

        .form__ul{
            padding: 12px;
            
            .form__ul__li{
                list-style: none;
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
            }
        }
    }
}







/* .form__button{
    display: flex;
    margin: 10px auto;
} */