/*css tabla*/
.tabla{
    margin: 0 auto;
 }
 
 .tabla__img{
     height: 50px;
 }
 
 .tabla__tituloDeLaTabla{
     font-size: 2rem;
 }
 
 .tabla__th{
     background-color: black;
     color: white;
     width: 300px;
 }