
.unProducto{
    border: 1px solid black;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unProducto__title{
    text-align: center;
    margin: 10px;
    font-size: 1.7rem;
}

.unProducto__contenedorImg{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
}

.unProducto__contenedorImg__img{
    max-width: 100%;
    height: 100%;
}
